.product-details-wrapper{
    padding-top: 3rem;
}

.product-img {
    flex-basis: 25%;
}
.product-img img{
    width: 100%; 
}

.product-details-box{
    flex-basis: 60%;
}

.product-name{
    font-size: 2.8rem;
}

.product-price{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.product-desc{
    margin-top: 1.5rem;
    
}
.product-desc-title{
    /* margin-top: 1.5rem; */
    color: #999;
    margin-bottom: 1rem;
}
.product-desc-data{
    font-size: 1rem;
    line-height:1.75;
    text-align: justify;
}
.product-details-action{
    margin-top: 1.5rem;
    width: 250px;
}

